extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/index.css')
	link(type="text/css" rel='stylesheet', href='/stylesheets/flipclock.css')

block scripts
	script(type="text/javascript" src="/scripts/Libs/flipclock.min.js")
	script(type="text/javascript" src="/scripts/Controllers/home-controller.js")

block content
	div.home(ng-controller='homeController as Home')
		div.row
			div.col-sm-12
				h1 {{ Home.weddingDate | ddMMyyyy }}
				br
				div.clock
				h1 <span>U</span>ntil <span>"I DO"</span>