extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/index.css')
	link(type="text/css" rel='stylesheet', href='/stylesheets/flipclock.css')

block scripts
	script(type="text/javascript" src="/scripts/Libs/flipclock.min.js")
	script(type="text/javascript" src="/scripts/Controllers/home-controller.js")
	//- script(type="text/javascript" src="/scripts/countdown.js")

block content
	div.home(ng-controller='homeController as Home')
		div.row
			div.col-sm-12
				h1 {{ Home.weddingDate | ddMMyyyy }}
				br
				div.clock(style="margin:2em;")
				div
					h1 Until "I DO"