extends layout

block content	
	div.row
		div.col-sm-12
			h1 Instagram’s Privacy Policy
			h2 Purpose
			p The purpose of this website is to display my wedding information and photos tagged with #HJSayIDo hashtag. We, the couple, and our wedding entourage will be encouraging our guests to include our #HJSayIDo hashtags on the day and days leading to the event. This allows us to collect and display these photos for everyone to enjoy.

			h2 Information Collection and Use
			p I do not collect or use any user information, other than displaying photo's using the #HJSayIDo hashtag. This website is only used to connect to the Instagram API using a valid ClientID and Access Token.

			h2 Terms of Use
			p The public is encouraged to contribute to #HJSayIDo section often by tagging multiple Instagram photos with the hashtag #HJSayIDo.

			p The photograph must obey all laws, including applicable copyright and privacy laws.

			h2 Contact
			p If you have questions about the #HJSayIDo page, please email heraldgutierrez@hotmail.com