extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/wedding.css')

block scripts
	script(type="text/javascript" src="/scripts/Controllers/instagram.js")

block content
	div.row
		div.col-sm-12.center
			h1 <span>W</span>edding