extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/wedding2.css')

block content
	div.row
		div.col-sm-10.col-sm-offset-1
			div.center
				h1 <span>B</span>ride and <span>G</span>room
				div.row.brideAndGroom
					div.col-md-12
						ul
							li <img src="/images/male-blank.jpg" />
							li <img src="/images/female-blank.jpg" />
							
				div.row
					div.col-md-6
						h3 <span>B</span>est <span>M</span>en
						ul
							li <img src="/images/male-blank.jpg" />
							li <img src="/images/male-blank.jpg" />
					div.col-md-6
						h3 <span>M</span>atron of <span>H</span>onour
						ul
							li <img src="/images/female-blank.jpg" />

				div.row
					div.col-md-12
						h3 <span>G</span>roomsmen
						ul
							li <img src="/images/male-blank.jpg" />
							li <img src="/images/male-blank.jpg" />
							li <img src="/images/male-blank.jpg" />
							li <img src="/images/male-blank.jpg" />
							li <img src="/images/male-blank.jpg" />
							li <img src="/images/male-blank.jpg" />
							li <img src="/images/male-blank.jpg" />
							li <img src="/images/male-blank.jpg" />
							li <img src="/images/male-blank.jpg" />
				div.row
					div.col-md-12
						h3 <span>B</span>ridesmaids
						ul
							li <img src="/images/female-blank.jpg" />
							li <img src="/images/female-blank.jpg" />
							li <img src="/images/female-blank.jpg" />
							li <img src="/images/female-blank.jpg" />
							li <img src="/images/female-blank.jpg" />
							li <img src="/images/female-blank.jpg" />
							li <img src="/images/female-blank.jpg" />
							li <img src="/images/female-blank.jpg" />
							li <img src="/images/female-blank.jpg" />

				div.row
					div.col-md-6
						h3 <span>J</span>unior <span>G</span>roomsmens
						ul
							li <img src="/images/male-blank.jpg" />
							li <img src="/images/male-blank.jpg" />
							li <img src="/images/male-blank.jpg" />
					div.col-md-6
						h3 <span>J</span>unior <span>B</span>ridesmaids
						ul
							li <img src="/images/female-blank.jpg" />
							li <img src="/images/female-blank.jpg" />
							li <img src="/images/female-blank.jpg" />