extends layout

block styles
	link(type='text/css' rel='stylesheet' href='/stylesheets/wedding.css')
	link(type='text/css' rel='stylesheet' href='/stylesheets/polaroids.css')
	link(type='text/css' rel='stylesheet' href='/stylesheets/timeline.css')
	link(type='text/css' rel='stylesheet' href='/stylesheets/headshot.css')	

block content
	div.row
		div.col-sm-10.col-sm-offset-1
			div.center
				h1 <span>B</span>ride and <span>G</span>room
				ul.polaroids
					li <img src="/images/entourage/Joanne.jpg" /><span>Joanne</span>
					li <img src="/images/entourage/Herald.jpg" /><span>Herald</span>

			div.row
				div.col-md-12
					ul.timeline
						li 	
							div.timeline-badge <i class='fa fa-building'></i>
							div.timeline-panel
								div.timeline-heading 
									h4.timeline-title <i class='fa fa-calendar'></i> 2010
								div.timeline-body
									p Worked at Shoppers Drug Mart together
						li
							div.timeline-badge <i class='fa fa-birthday-cake'></i>
							div.timeline-panel
								div.timeline-heading
									h4.timeline-title <i class='fa fa-calendar'></i> February 2012
								div.timeline-body
									p First time celebrating Joanne's birthday together
									p Joanne graduated from University of Manitoba
						li
							div.timeline-badge <i class='fa fa-heart'></i>
							div.timeline-panel
								div.timeline-heading
									h4.timeline-title <i class='fa fa-calendar'></i> May 2012
								div.timeline-body
									p Officially a couple
						li
							div.timeline-badge <i class='fa fa-plane'></i>
							div.timeline-panel
								div.timeline-heading
									h4.timeline-title <i class='fa fa-calendar'></i> June 2013
								div.timeline-body
									p Travelled to Toronto
						li
							div.timeline-badge <i class='fa fa-graduation-cap'></i>
							div.timeline-panel
								div.timeline-heading
									h4.timeline-title <i class='fa fa-calendar'></i> October 2013
								div.timeline-body
									p Herald graduated from University of Manitoba
						li
							div.timeline-badge <i class='fa fa-plane'></i>
							div.timeline-panel
								div.timeline-heading
									h4.timeline-title <i class='fa fa-calendar'></i> August 2015
								div.timeline-body
									p Travelled to New York City, Phildelphia, and Washington D.C.
						li
							div.timeline-badge <i class='fa fa-plane'></i>
							div.timeline-panel
								div.timeline-heading
									h4.timeline-title <i class='fa fa-calendar'></i> August 2016
								div.timeline-body
									p Travelled to Vancover, and Seattle
						li
							div.timeline-badge <i class='fa fa-plane'></i>
							div.timeline-panel
								div.timeline-heading
									h4.timeline-title <i class='fa fa-calendar'></i> November 2016
								div.timeline-body
									p Travelled to the Philippines
						li
							div.timeline-badge <i class='fa fa-diamond'></i>
							div.timeline-panel
								div.timeline-heading
									h4.timeline-title <i class='fa fa-calendar'></i> February 2017
								div.timeline-body
									p Engaged
						li
							div.timeline-badge <i class='fa fa-diamond'></i>
							div.timeline-panel
								div.timeline-heading
									h4.timeline-title <i class='fa fa-calendar'></i> June 30, 2018
								div.timeline-body
									p I DO

			div.center
				div.row
					div.col-md-12
						div.heart
							img(src='/images/couple.jpg')

				div.row
					div.col-md-12
						h1 <span>O</span>ur <span>E</span>ntourage

				div.row
					div.col-md-6
						h3 <span>M</span>atron of <span>H</span>onour
						ul.headshot
							li <img src="/images/entourage/Mary.jpg" /><span>Mary Katherine</span>
					div.col-md-6
						h3 <span>B</span>est <span>M</span>en
						ul.headshot
							li <img src="/images/entourage/Harvey.jpg" /><span>Harvey</span>
							li <img src="/images/entourage/Herschel.jpg" /><span>Herschel</span>
							
				div.row
					div.col-md-12
						h3 <span>B</span>ridesmaids
						ul.headshot
							li <img src="/images/entourage/Christine.jpg" /><span>Christine</span>
							li <img src="/images/entourage/Jessica.jpg" /><span>Jessica</span>
							li <img src="/images/entourage/Joyce.jpg" /><span>Joyce</span>
							li <img src="/images/entourage/Katrina.jpg" /><span>Katrina</span>
							li <img src="/images/entourage/Monica.jpg" /><span>Monica</span>
							li <img src="/images/entourage/Nadine.jpg" /><span>Nadine</span>
							li <img src="/images/entourage/Shannon.jpg" /><span>Shannon</span>
							li <img src="/images/entourage/Sherlyn.jpg" /><span>Sherlyn</span>

				div.row
					div.col-md-12
						h3 <span>G</span>roomsmen
						ul.headshot
							li <img src="/images/entourage/Alvin.jpg" /><span>Alvin</span>
							li <img src="/images/entourage/Archie.jpg" /><span>Archie</span>
							li <img src="/images/entourage/Benn.jpg" /><span>Bennet</span>
							li <img src="/images/entourage/Christian.jpg" /><span>Christian</span>
							li <img src="/images/entourage/Jekko.jpg" /><span>Jekko</span>
							li <img src="/images/entourage/Mark.jpg" /><span>Mark</span>
							li <img src="/images/entourage/Marlon.jpg" /><span>Marlon</span>
							li <img src="/images/entourage/Raymond.jpg" /><span>Raymond</span>

				div.row
					div.col-md-6
						h3 <span>J</span>unior <span>B</span>ridesmaids
						ul.headshot
							li <img src="/images/entourage/Gayle.jpg" /><span>Gayle</span>
							li <img src="/images/entourage/Jezel.jpg" /><span>Jezel</span>
							li <img src="/images/entourage/Rhegie.jpg" /><span>Rhegie</span>
					div.col-md-6
						h3 <span>J</span>unior <span>G</span>roomsmen
						ul.headshot
							li <img src="/images/entourage/John-Raven.jpg" /><span>John Raven</span>
							li <img src="/images/entourage/Jon.jpg" /><span>Jon</span>
							li <img src="/images/entourage/Zeeron.jpg" /><span>Zeeron</span>


				//- div.row
				//- 	div.col-md-6
				//- 		h3 <span>F</span>lower <span>G</span>irls
				//- 		ul.list
				//- 			li Ashely Maranan
				//- 			li Jenelle
				//- 			li Karmyn Jade Maranan
				//- 			li Lulu Presto
				//- 			li Malayah Presto
				//- 			li Marla Nagutum
				//- 			li Sarah Presto
				//- 			li Senia Mendoza
				//- 			li Yhen Yhen Pangan
				//- 	div.col-md-6
				//- 		div.row
				//- 			div.col-md-12
				//- 				h3 <span>B</span>ible <span>B</span>earer
				//- 				ul
				//- 					li Cian Ilag
				//- 			div.col-md-12
				//- 				h3 <span>R</span>ing <span>B</span>earer
				//- 				ul
				//- 					li Cameron Presto
				//- 			div.col-md-12
				//- 				h3 <span>C</span>oin <span>B</span>earer
				//- 				ul
				//- 					li Noah Presto

				//- div.row
				//- 	div.col-md-6
				//- 		h3 <span>L</span>ittle <span>B</span>ride
				//- 		ul
				//- 			li Emily Adele Gutierrez
				//- 	div.col-md-6
				//- 		h3 <span>L</span>ittle <span>G</span>room
				//- 		ul
				//- 			li Leo Carter Gutierrez

