body {
  /*background-image: url('../images/selfie.jpg');*/
  /*background-image: url('../images/holding-hands.jpg');*/
  background-image: url("../images/cancun.jpg"); }

.content ul {
  margin: 0;
  padding: 0; }
  .content ul li {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    opacity: 0.75;
    transition: 0.3s ease;
    margin: 5px; }
    .content ul li img {
      margin: 0 auto;
      display: block; }
    .content ul li span {
      z-index: -99;
      display: none; }
    .content ul li:hover {
      transform: scale(1.5, 1.5);
      opacity: 1; }
      .content ul li:hover span {
        display: block; }

.brideAndGroom img {
  width: 200px;
  height: 250px; }
  .brideAndGroom img:first-child {
    margin-left: 15px !important;
    margin-right: 15px !important; }

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) {
  body {
    background-image: url("../images/cancun-mobile.jpg"); }

  .content ul li img {
    width: 80px;
    height: 80px; }
  .content .brideAndGroom img {
    width: 125px;
    height: 175px; }
    .content .brideAndGroom img:first-child {
      margin-left: 5px !important;
      margin-right: 5px !important; } }
