body {
  /*background-image: url('../images/selfie.jpg');*/
  /*background-image: url('../images/holding-hands.jpg');*/
  background-image: url("../images/cancun.jpg"); }

.content ul {
  margin: 0;
  padding: 0; }
  .content ul li {
    list-style-type: none; }
  .content ul.headshot li {
    text-align: center;
    display: inline-block;
    opacity: 0.75;
    transition: 0.3s ease;
    margin: 5px; }
    .content ul.headshot li img {
      margin: 0 auto;
      display: block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 75px;
      height: 75px; }
    .content ul.headshot li span {
      visibility: hidden; }
    .content ul.headshot li:hover, .content ul.headshot li:focus {
      transform: scale(1.5, 1.5);
      opacity: 1;
      z-index: 999;
      padding: 0 10px; }
      .content ul.headshot li:hover span, .content ul.headshot li:focus span {
        visibility: visible; }

.brideAndGroom img {
  width: 200px !important;
  height: 250px !important; }
  .brideAndGroom img:first-child {
    margin-left: 15px !important;
    margin-right: 15px !important; }

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) {
  body {
    background-image: url("../images/cancun-mobile.jpg"); }

  .content .brideAndGroom img {
    width: 125px !important;
    height: 175px !important; }
    .content .brideAndGroom img:first-child {
      margin-left: 5px !important;
      margin-right: 5px !important; }
  .content ul.headshot li span {
    visibility: visible; }
  .content ul.headshot li img {
    width: 80px;
    height: 80px; } }
