body
{
	background-image: url('../images/together.jpg');
}



.instgram-container
{
	h1 
	{
		font-size: 30px;
		margin: 0;
	}

	h2
	{
		font-size: 20px;
		margin: 0;
	}

	.instgram-image, img 
	{
		display: inline-block;
		width: 200px;
		height: 200px;
		padding: 5px;
	}
}

.guests
{
	padding-top: 40px;
}

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px)
{
	body
	{
		background-image: url('../images/together-mobile.jpg');
	}

	.instgram-container
	{
		text-align: center;

		h1, h2
		{
			font-size: 20px;
		}

		.instgram-image, img 
		{
			width: 110px;
			height: 110px;
			padding: 3px;
		}
	}
}