body
{
	background-image: url('../images/together.png');
}

.instgram-image, img 
{
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 5px;
}

.instgram-container
{
	padding-top: 20px;

	h1 
	{
		font-size: 30px;
		margin: 0;
	}

	h2
	{
		font-size: 20px;
		margin: 0;
	}
}

.guests
{
	padding-top: 40px;
}

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px)
{
	.instgram-image, img 
	{
		width: 150px;
		height: 150px;
	}
}