.outerWrapper
{
	/*background-image: url('../images/together.jpg');*/
	background-image: url('../images/cancun.jpg');

	/*background-image: url('../images/lights.png');

	.backgroundOverlay
	{
		background-color: rgba(49, 48, 48, .35);
	}*/
}

.home
{
	position: relative;
	top: 25%;
}

.flip-clock-label
{
	color: white !important;
	font-size: 20px;
	right: -100px !important;
}

.ido
{
	
}