body
{
	/*background-image: url('../images/selfie.jpg');*/
	/*background-image: url('../images/holding-hands.jpg');*/
	background-image: url('../images/cancun.jpg');
}

.brideAndGroom
{
	margin-top: 40px;

	img 
	{
		width: 200px !important;
		height: 250px !important;
		-webkit-border-radius: 25% !important;
		-moz-border-radius: 25% !important;
		border-radius: 25% !important;

		&:first-child
		{
			margin-left: 15px !important;
			margin-right: 15px !important;
		}
	}
}

.heart
{
	img 
	{
		-webkit-mask-image: url('../images/mask-heart.png');
		-webkit-mask-mode: alpha;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: 100%;

		mask-image: url('../images/mask-heart.png');
		mask-mode: alpha;
		mask-repeat: no-repeat;
		mask-size: 100%;

		transition: 0.3s ease;
		width: 300px;
		height: 300px;

		&:hover, &:focus
		{
			transform: scale(1.25, 1.25);
			opacity: 1;
			z-index: 999;
		}
	}
}








/* Small devices (tablets, 768px and down) */
@media (max-width: 768px)
{
	body
	{
		background-image: url('../images/cancun-mobile.jpg');
	}

	.content
	{
		.brideAndGroom
		{
			img 
			{
				width: 125px !important;
				height: 175px !important;

				&:first-child
				{
					margin-left: 5px !important;
					margin-right: 5px !important;
				}
			}
		}
	}

	.timeline 
	{
		margin-left: -80% !important;

		> li 
		{
			text-align: left !important;

			> .timeline-panel 
			{
				width: 43%;
				float: right;

				&:before 
				{
					border-left-width: 0;
					border-right-width: 15px;
					left: -15px;
					right: auto;
				}

				&:after 
				{
					border-left-width: 0;
					border-right-width: 14px;
					left: -14px;
					right: auto;
				}
			}
		}
	}
}